
@{
    ViewBag.Title = "- Home";
    Layout = "~/Views/_master.cshtml";
}

<section id="sc-welcome" class="parallax-window" data-parallax="scroll" data-position-y="top" data-position-x="left" data-image-src="http://localhost/ClubArcada.Apps.Web/Content/images/px01.jpg ">

    <div id="welcome-content" class="container" ng-controller="ctrl-welcome">
        <div class="row">
            <div class="col-md-6 col-xs-12" >

            </div>

            <div class="col-md-6 col-xs-12">

            </div>

        </div>
    </div>

</section>

<section style="background-color:#0094ff;"></section>

<section style="background-color:#b200ff;"></section>